<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Velocímetro</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="container">
        <h1>Teste de Velocidade</h1>
        <div class="image-container"></div>

        <div class="result">
            <div class="result-item">
                <p class="category"><strong>Velocidade</strong></p> <!-- "Velocidade" acima -->
                <p class="label">Download:</p>
                <p class="value" id="download-speed">--</p>
                <p class="unit"><strong>Mbps</strong></p> <!-- "Mbps" acima -->
            </div>
            <div class="result-item">
                
                <p class="label">Upload:</p>
                <p class="value" id="upload-speed">--</p>
            
            </div>
        </div>
        <div id="status-message"></div>
        <button id="run-test">Executar Teste de Velocidade</button>
    </div>

    <script src="static/script.js"></script>
</body>
</html>
